<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration</title>
</head>
<body>
  Customer Registration
    <form action="savecustomer" method="post">
        <label>Name</label>
        <input type="text" name="name"/>
        <label>Last name</label>
        <input type="text" name="lastName"/>
        <button type="submit" value="save">save</button>
    </form>

    <table>
        <tr th:each="customer:${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
    </table>
</body>
</html>